-- Function: gpSelect_MovementItem_ProductionPersonal()

DROP FUNCTION IF EXISTS gpSelect_MovementItem_ProductionPersonal (Integer, Boolean, TVarChar);

CREATE OR REPLACE FUNCTION gpSelect_MovementItem_ProductionPersonal (
    IN inMovementId  Integer      , -- ключ Документа
    IN inIsErased    Boolean      , --
    IN inSession     TVarChar       -- сессия пользователя
)
RETURNS TABLE (Id Integer
             , PersonalId Integer, PersonalCode Integer, PersonalName TVarChar
             , ProductId Integer, ProductCode Integer, ProductName TVarChar
             , CIN TVarChar
             , Amount TFloat
             , StartBeginDate TDateTime
             , EndBeginDate TDateTime
             , InsertName TVarChar, InsertDate TDateTime
             , isErased Boolean
             )
AS
$BODY$
  DECLARE vbUserId       Integer;
  DECLARE vbToId         Integer;
  DECLARE vbFromId       Integer;
BEGIN

    -- проверка прав пользователя на вызов процедуры
    -- vbUserId := PERFORM lpCheckRight (inSession, zc_Enum_Process_Select_MovementItem_ProductionPersonal());
    vbUserId := lpGetUserBySession (inSession);

       RETURN QUERY
       WITH
       tmpIsErased AS (SELECT FALSE AS isErased
                        UNION ALL
                       SELECT inIsErased AS isErased WHERE inIsErased = TRUE
                      )
     , tmpMI AS   (SELECT MovementItem.ObjectId
                        , MovementItem.Amount
                        , MovementItem.Id
                        , MovementItem.isErased
                   FROM tmpIsErased
                      JOIN MovementItem ON MovementItem.MovementId = inMovementId
                                       AND MovementItem.DescId     = zc_MI_Master()
                                       AND MovementItem.isErased   = tmpIsErased.isErased
                     )

         -- результат
            SELECT
                MovementItem.Id             AS Id
              , MovementItem.ObjectId       AS PersonalId
              , Object_Personal.ObjectCode  AS PersonalCode
              , Object_Personal.ValueData   AS PersonalName

              , Object_Product.Id           AS ProductId
              , Object_Product.ObjectCode   AS ProductCode
              , Object_Product.ValueData    AS ProductName
              , ObjectString_CIN.ValueData  AS CIN

              , MovementItem.Amount           ::TFloat
              
              , MIDate_StartBegin.ValueData AS StartBeginDate
              , MIDate_EndBegin.ValueData   AS EndBeginDate

              , Object_Insert.ValueData     AS InsertName
              , MIDate_Insert.ValueData     AS InsertDate

              , MovementItem.isErased            
            FROM tmpMI AS MovementItem
                 LEFT JOIN Object AS Object_Personal ON Object_Personal.Id = MovementItem.ObjectId

                 LEFT JOIN MovementItemLinkObject AS MILO_Product
                                                  ON MILO_Product.MovementItemId = MovementItem.Id
                                                 AND MILO_Product.DescId = zc_MILinkObject_Product()
                 LEFT JOIN Object AS Object_Product ON Object_Product.Id = MILO_Product.ObjectId

                 LEFT JOIN MovementItemDate AS MIDate_StartBegin
                                            ON MIDate_StartBegin.MovementItemId = MovementItem.Id
                                           AND MIDate_StartBegin.DescId = zc_MIDate_StartBegin()
                 LEFT JOIN MovementItemDate AS MIDate_EndBegin
                                            ON MIDate_EndBegin.MovementItemId = MovementItem.Id
                                           AND MIDate_EndBegin.DescId = zc_MIDate_EndBegin()

                 LEFT JOIN MovementItemDate AS MIDate_Insert
                                            ON MIDate_Insert.MovementItemId = MovementItem.Id
                                           AND MIDate_Insert.DescId = zc_MIDate_Insert()
                 LEFT JOIN MovementItemLinkObject AS MILO_Insert
                                                  ON MILO_Insert.MovementItemId = MovementItem.Id
                                                 AND MILO_Insert.DescId = zc_MILinkObject_Insert()
                 LEFT JOIN Object AS Object_Insert ON Object_Insert.Id = MILO_Insert.ObjectId

                 LEFT JOIN ObjectString AS ObjectString_CIN
                                        ON ObjectString_CIN.ObjectId = Object_Product.Id
                                       AND ObjectString_CIN.DescId = zc_ObjectString_Product_CIN()
            ;

END;
$BODY$
  LANGUAGE PLPGSQL VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
 12.07.21         * 
*/

-- тест
-- SELECT * FROM gpSelect_MovementItem_ProductionPersonal (inMovementId:= 0, inIsErased:= FALSE, inSession:= zfCalc_UserAdmin())
-- select * from gpSelect_MovementItem_ProductionPersonal (inMovementId:= 218 , inIsErased:= FALSE, inSession:= zfCalc_UserAdmin());