-- Function: gpInsert_Movement_StaffList_Mask()

DROP FUNCTION IF EXISTS gpInsert_Movement_StaffList_copy (Integer, TDateTime, TVarChar);

CREATE OR REPLACE FUNCTION gpInsert_Movement_StaffList_Mask(
 INOUT ioId                  Integer   , -- Ключ объекта <Документ >
    IN inOperDate            TDateTime , -- Дата документа
    IN inSession             TVarChar    -- сессия пользователя
)
RETURNS Integer AS
$BODY$
   DECLARE vbMovementId Integer;
   DECLARE vbUserId Integer;
   DECLARE vbInvNumber TVarChar;
BEGIN
     -- проверка прав пользователя на вызов процедуры
     vbUserId:= lpCheckRight (inSession, zc_Enum_Process_InsertUpdate_Movement_StaffList());

     -- сохранили <Документ>
     vbInvNumber := CAST (NEXTVAL ('movement_StaffList_seq') AS TVarChar);
     vbMovementId := lpInsertUpdate_Movement (0, zc_Movement_StaffList(), vbInvNumber, inOperDate, NULL, 0);

     -- сохранили свойство <Дата создания>
     PERFORM lpInsertUpdate_MovementDate (zc_MovementDate_Insert(), vbMovementId, CURRENT_TIMESTAMP);
     -- сохранили связь с <Пользователь>
     PERFORM lpInsertUpdate_MovementLinkObject (zc_MovementLinkObject_Insert(), vbMovementId, vbUserId);


     PERFORM gpInsertUpdate_Movement_StaffList (ioId           := vbMovementId
                                              , inInvNumber    := vbInvNumber
                                              , inOperDate     := inOperDate
                                              , inDateClose    := zc_DateEnd()
                                              , inUnitId       := tmp.UnitId
                                              , inPersonalId   := tmp.PersonalId
                                              , inComment      := '' ::TVarChar
                                              , inSession       := inSession
                                               )
     FROM gpGet_Movement_StaffList (ioId, inOperDate, FALSE, inSession) AS tmp;

     -- записываем строки StaffListGoods документа
     PERFORM lpInsertUpdate_MovementItem_StaffList (ioId                    := 0
                                                  , inMovementId            := vbMovementId
                                                  , inPositionId            := tmp.PositionId
                                                  , inPositionLevelId       := tmp.PositionLevelId
                                                  , inPersonalId            := tmp.PersonalId
                                                  , inStaffPaidKindId       := tmp.StaffPaidKindId
                                                  , inStaffHoursDayId       := tmp.StaffHoursDayId
                                                  , inStaffHoursId          := tmp.StaffHoursId
                                                  , inStaffHoursLengthId    := tmp.StaffHoursLengthId
                                                  , inAmount                := tmp.Amount
                                                  , inAmountReport          := tmp.AmountReport
                                                  , inStaffCount_1          := tmp.StaffCount_1
                                                  , inStaffCount_2          := tmp.StaffCount_2
                                                  , inStaffCount_3          := tmp.StaffCount_3
                                                  , inStaffCount_4          := tmp.StaffCount_4
                                                  , inStaffCount_5          := tmp.StaffCount_5
                                                  , inStaffCount_6          := tmp.StaffCount_6
                                                  , inStaffCount_7          := tmp.StaffCount_7
                                                  , inStaffCount_Invent     := tmp.StaffCount_Invent
                                                  , inStaff_Price           := tmp.Staff_Price
                                                  , inStaff_Summ_MK         := tmp.Staff_Summ_MK
                                                  , inStaff_Summ_MK3        := tmp.Staff_Summ_MK3
                                                  , inStaff_Summ_MK6        := tmp.Staff_Summ_MK6
                                                  , inStaff_Summ_real       := tmp.Staff_Summ_real
                                                  , inStaff_Summ_add        := tmp.Staff_Summ_add
                                                  , inStaff_Summ_total_real := tmp.Staff_Summ_total_real
                                                  , inStaff_Summ_total_add  := tmp.Staff_Summ_total_add
                                                  , inComment               := tmp.Comment
                                                  , inUserId                := vbUserId
                                                   )
   FROM gpSelect_MovementItem_StaffList (ioId, False, False, inSession)  AS tmp;

   ioid := vbMovementId;

END;
$BODY$
  LANGUAGE plpgsql VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
  25.08.25        *
*/

-- тест
--