-- Function: gpSelect_MovementItem_Income()

DROP FUNCTION IF EXISTS gpSelect_MovementItem_Income (Integer, Boolean, Boolean, TVarChar);

CREATE OR REPLACE FUNCTION gpSelect_MovementItem_Income (
    IN inMovementId  Integer      , -- ключ Документа
    IN inShowAll     Boolean      , --
    IN inIsErased    Boolean      , --
    IN inSession     TVarChar       -- сессия пользователя
)
RETURNS TABLE (Id Integer
             , PartionId Integer
             , GoodsId Integer, GoodsCode Integer, GoodsName TVarChar
             , Amount TFloat
             , CountForPrice TFloat
             , Amount_unit TFloat

             , OperPrice TFloat         -- Цена вх.
             , OperPriceWithVAT TFloat  -- Цена вх. c НДС
             , OperPriceNoVAT TFloat    -- Цена вх. без НДС
             , CostPrice  TFloat        -- Цена без НДС затраты
             , OperPrice_cost TFloat    -- Цена вх. с затратами без НДС
             , EmpfPrice TFloat
             , OperPriceList TFloat

             , Summ      TFloat         -- Сумма вх. без НДС
             , SummWithVAT TFloat       -- Сумма вх. с НДС
             , Summ_cost TFloat         -- Итого сумма затраты без НДС
             , TotalSumm_cost TFloat    -- Итого сумма вх. с затратами без НДС

              , OperPrice_orig TFloat
              , DiscountTax    TFloat
              , SummIn         TFloat

             , PartNumber TVarChar
             , Comment TVarChar
             , isErased Boolean
             , InsertName TVarChar, InsertDate TDateTime

             , Article TVarChar
             , GoodsGroupId Integer
             , GoodsGroupName TVarChar
             , GoodsGroupNameFull TVarChar
             , MeasureId Integer
             , MeasureName TVarChar
             , GoodsTagId Integer, GoodsTagName TVarChar
             , GoodsTypeId  Integer, GoodsTypeName TVarChar
             , GoodsSizeId  Integer, GoodsSizeName TVarChar
             , ProdColorId  Integer, ProdColorName TVarChar
             , TaxKindId    Integer
             , TaxKindValue TFloat
             )
AS
$BODY$
  DECLARE vbUserId       Integer;
  DECLARE vbTaxKindId    Integer;
  DECLARE vbDiscountTax TFloat;
  DECLARE vbVATPercent   TFloat;
  DECLARE vbPriceWithVAT Boolean;
  DECLARE vbToId         Integer;
  DECLARE vbFromId       Integer;
BEGIN

    -- проверка прав пользователя на вызов процедуры
    -- vbUserId := PERFORM lpCheckRight (inSession, zc_Enum_Process_Select_MovementItem_Income());
    vbUserId := lpGetUserBySession (inSession);

    SELECT MovementBoolean_PriceWithVAT.ValueData  AS PriceWithVAT
         , MovementFloat_VATPercent.ValueData      AS VATPercent
         , MovementFloat_DiscountTax.ValueData     AS DiscountTax
         , MovementLinkObject_From.ObjectId        AS FromId
         , MovementLinkObject_To.ObjectId          AS ToId
         , OF_TaxKind_Value.ObjectId               AS TaxKindId
           INTO
               vbPriceWithVAT
             , vbVATPercent
             , vbDiscountTax
             , vbFromId
             , vbToId
             , vbTaxKindId
    FROM Movement AS Movement_Income
        LEFT JOIN MovementBoolean AS MovementBoolean_PriceWithVAT
                                  ON MovementBoolean_PriceWithVAT.MovementId = Movement_Income.Id
                                 AND MovementBoolean_PriceWithVAT.DescId = zc_MovementBoolean_PriceWithVAT()

        LEFT JOIN MovementFloat AS MovementFloat_VATPercent
                                ON MovementFloat_VATPercent.MovementId = Movement_Income.Id
                               AND MovementFloat_VATPercent.DescId = zc_MovementFloat_VATPercent()
        LEFT JOIN ObjectFloat AS OF_TaxKind_Value
                              ON OF_TaxKind_Value.ValueData = MovementFloat_VATPercent.ValueData
                             AND OF_TaxKind_Value.DescId = zc_ObjectFloat_TaxKind_Value()

        LEFT JOIN MovementFloat AS MovementFloat_DiscountTax
                                ON MovementFloat_DiscountTax.MovementId = Movement_Income.Id
                               AND MovementFloat_DiscountTax.DescId = zc_MovementFloat_DiscountTax()

        LEFT JOIN MovementLinkObject AS MovementLinkObject_From
                                     ON MovementLinkObject_From.MovementId = Movement_Income.Id
                                    AND MovementLinkObject_From.DescId = zc_MovementLinkObject_From()

        LEFT JOIN MovementLinkObject AS MovementLinkObject_To
                                     ON MovementLinkObject_To.MovementId = Movement_Income.Id
                                    AND MovementLinkObject_To.DescId = zc_MovementLinkObject_To()
    WHERE Movement_Income.Id = inMovementId
      AND Movement_Income.DescId = zc_Movement_Income();


    IF inShowAll = TRUE
    THEN
        RETURN QUERY
          WITH tmpIsErased AS (SELECT FALSE AS isErased
                                UNION ALL
                               SELECT inIsErased AS isErased WHERE inIsErased = TRUE
                              )
               -- Все Комплектующие Поставщика
             , tmpGoods AS (SELECT Object_Goods.Id               AS GoodsId
                                 , Object_Goods.ObjectCode       AS GoodsCode
                                 , Object_Goods.ValueData        AS GoodsName
                            FROM ObjectLink AS ObjectLink_Goods_Partner
                                 INNER JOIN Object AS Object_Goods
                                                   ON Object_Goods.Id = ObjectLink_Goods_Partner.ObjectId
                                                  AND Object_Goods.isErased = FALSE
                            WHERE ObjectLink_Goods_Partner.ChildObjectId = vbFromId
                              AND ObjectLink_Goods_Partner.DescId = zc_ObjectLink_Goods_Partner()
                           )
               -- св-ва Комплектующих
             , tmpGoodsParams AS (SELECT tmpGoods.GoodsId                   AS GoodsId
                                       , tmpGoods.GoodsCode                 AS GoodsCode
                                       , tmpGoods.GoodsName                 AS GoodsName
                                       , ObjectString_Article.ValueData     AS Article
                                       , Object_GoodsGroup.Id               AS GoodsGroupId
                                       , Object_GoodsGroup.ValueData        AS GoodsGroupName
                                       , ObjectString_GoodsGroupFull.ValueData AS GoodsGroupNameFull
                                       , Object_Measure.Id                  AS MeasureId
                                       , Object_Measure.ValueData           AS MeasureName
                                       , Object_GoodsTag.Id                 AS GoodsTagId
                                       , Object_GoodsTag.ValueData          AS GoodsTagName
                                       , Object_GoodsType.Id                AS GoodsTypeId
                                       , Object_GoodsType.ValueData         AS GoodsTypeName
                                       , Object_GoodsSize.Id                AS GoodsSizeId
                                       , Object_GoodsSize.ValueData         AS GoodsSizeName
                                       , Object_ProdColor.Id                AS ProdColorId
                                       , Object_ProdColor.ValueData         AS ProdColorName

                                         -- Цена вх. без НДС
                                       , ObjectFloat_EKPrice.ValueData   ::TFloat AS EKPrice
                                       , 1                               ::TFloat AS CountForPrice
                                         -- Цена вх. c НДС, БЕЗ учета скидки
                                       , zfCalc_SummWVAT (ObjectFloat_EKPrice.ValueData, vbVATPercent) AS EKPriceWVAT

                                        -- Рекомендованная цена без НДС
                                       , ObjectFloat_EmpfPrice.ValueData ::TFloat AS EmpfPrice

                                  FROM tmpGoods
                                       LEFT JOIN ObjectString AS ObjectString_Article
                                                              ON ObjectString_Article.ObjectId = tmpGoods.GoodsId
                                                             AND ObjectString_Article.DescId = zc_ObjectString_Article()

                                       LEFT JOIN ObjectString AS ObjectString_GoodsGroupFull
                                                              ON ObjectString_GoodsGroupFull.ObjectId = tmpGoods.GoodsId
                                                             AND ObjectString_GoodsGroupFull.DescId = zc_ObjectString_Goods_GroupNameFull()

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_GoodsGroup
                                                            ON ObjectLink_Goods_GoodsGroup.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_GoodsGroup.DescId = zc_ObjectLink_Goods_GoodsGroup()
                                       LEFT JOIN Object AS Object_GoodsGroup ON Object_GoodsGroup.Id = ObjectLink_Goods_GoodsGroup.ChildObjectId

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_Measure
                                                            ON ObjectLink_Goods_Measure.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_Measure.DescId = zc_ObjectLink_Goods_Measure()
                                       LEFT JOIN Object AS Object_Measure ON Object_Measure.Id = ObjectLink_Goods_Measure.ChildObjectId

                                       LEFT JOIN ObjectFloat AS ObjectFloat_EKPrice
                                                             ON ObjectFloat_EKPrice.ObjectId = tmpGoods.GoodsId
                                                            AND ObjectFloat_EKPrice.DescId = zc_ObjectFloat_Goods_EKPrice()

                                       LEFT JOIN ObjectFloat AS ObjectFloat_EmpfPrice
                                                             ON ObjectFloat_EmpfPrice.ObjectId = tmpGoods.GoodsId
                                                            AND ObjectFloat_EmpfPrice.DescId   = zc_ObjectFloat_Goods_EmpfPrice()

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_GoodsTag
                                                            ON ObjectLink_Goods_GoodsTag.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_GoodsTag.DescId = zc_ObjectLink_Goods_GoodsTag()
                                       LEFT JOIN Object AS Object_GoodsTag ON Object_GoodsTag.Id = ObjectLink_Goods_GoodsTag.ChildObjectId

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_GoodsType
                                                            ON ObjectLink_Goods_GoodsType.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_GoodsType.DescId   = zc_ObjectLink_Goods_GoodsType()
                                       LEFT JOIN Object AS Object_GoodsType ON Object_GoodsType.Id = ObjectLink_Goods_GoodsType.ChildObjectId

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_GoodsSize
                                                            ON ObjectLink_Goods_GoodsSize.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_GoodsSize.DescId = zc_ObjectLink_Goods_GoodsSize()
                                       LEFT JOIN Object AS Object_GoodsSize ON Object_GoodsSize.Id = ObjectLink_Goods_GoodsSize.ChildObjectId

                                       LEFT JOIN ObjectLink AS ObjectLink_Goods_ProdColor
                                                            ON ObjectLink_Goods_ProdColor.ObjectId = tmpGoods.GoodsId
                                                           AND ObjectLink_Goods_ProdColor.DescId = zc_ObjectLink_Goods_ProdColor()
                                       LEFT JOIN Object AS Object_ProdColor ON Object_ProdColor.Id = ObjectLink_Goods_ProdColor.ChildObjectId
                                )
                  -- Элементы
                , tmpMI AS (SELECT MovementItem.ObjectId   AS GoodsId
                                 , MovementItem.Id         AS PartionId
                                 , MovementItem.Amount
                                   -- Цена
                                 , MIFloat_OperPrice.ValueData                   AS OperPrice
                                 , MIFloat_OperPriceList.ValueData               AS OperPriceList
                                 , CASE WHEN COALESCE (MIFloat_CountForPrice.ValueData, 1) = 0 THEN 1 ELSE COALESCE (MIFloat_CountForPrice.ValueData, 1) END AS CountForPrice
                                   -- Цена вх. c НДС, БЕЗ учета скидки
                                 , CASE WHEN vbPriceWithVAT = TRUE
                                        THEN MIFloat_OperPrice.ValueData
                                        ELSE zfCalc_SummWVAT (MIFloat_OperPrice.ValueData, vbVATPercent)
                                   END AS OperPriceWithVAT
                                   -- Цена вх. без НДС, БЕЗ учета скидки
                                 , CASE WHEN vbPriceWithVAT = TRUE
                                        THEN zfCalc_Summ_NoVAT (MIFloat_OperPrice.ValueData, vbVATPercent)
                                        ELSE MIFloat_OperPrice.ValueData
                                   END AS OperPriceNoVAT

                                 , COALESCE (MIFloat_OperPrice_orig.ValueData, 0)  AS OperPrice_orig
                                 , COALESCE (MIFloat_DiscountTax.ValueData, 0)     AS DiscountTax
                                 , COALESCE (MIFloat_SummIn.ValueData, 0)          AS SummIn
                                   --
                                 , MovementItem.Id
                                 , MovementItem.isErased

                                 , MIString_PartNumber.ValueData AS PartNumber
                                 , MIString_Comment.ValueData    AS Comment

                                 , Object_Insert.ValueData       AS InsertName
                                 , MIDate_Insert.ValueData       AS InsertDate

                            FROM tmpIsErased
                                 JOIN MovementItem ON MovementItem.MovementId = inMovementId
                                                  AND MovementItem.DescId     = zc_MI_Master()
                                                  AND MovementItem.isErased   = tmpIsErased.isErased

                                 LEFT JOIN MovementItemFloat AS MIFloat_OperPrice
                                                             ON MIFloat_OperPrice.MovementItemId = MovementItem.Id
                                                            AND MIFloat_OperPrice.DescId = zc_MIFloat_OperPrice()
                                 LEFT JOIN MovementItemFloat AS MIFloat_OperPriceList
                                                             ON MIFloat_OperPriceList.MovementItemId = MovementItem.Id
                                                            AND MIFloat_OperPriceList.DescId = zc_MIFloat_OperPriceList()

                                LEFT JOIN MovementItemFloat AS MIFloat_OperPrice_orig
                                                            ON MIFloat_OperPrice_orig.MovementItemId = MovementItem.Id
                                                           AND MIFloat_OperPrice_orig.DescId = zc_MIFloat_OperPrice_orig()
                                LEFT JOIN MovementItemFloat AS MIFloat_DiscountTax
                                                            ON MIFloat_DiscountTax.MovementItemId = MovementItem.Id
                                                           AND MIFloat_DiscountTax.DescId = zc_MIFloat_DiscountTax()
                                LEFT JOIN MovementItemFloat AS MIFloat_SummIn
                                                            ON MIFloat_SummIn.MovementItemId = MovementItem.Id
                                                           AND MIFloat_SummIn.DescId = zc_MIFloat_SummIn()

                                 LEFT JOIN MovementItemFloat AS MIFloat_CountForPrice
                                                             ON MIFloat_CountForPrice.MovementItemId = MovementItem.Id
                                                            AND MIFloat_CountForPrice.DescId = zc_MIFloat_CountForPrice()

                                 LEFT JOIN MovementItemString AS MIString_Comment
                                                              ON MIString_Comment.MovementItemId = MovementItem.Id
                                                             AND MIString_Comment.DescId = zc_MIString_Comment()

                                 LEFT JOIN MovementItemString AS MIString_PartNumber
                                                              ON MIString_PartNumber.MovementItemId = MovementItem.Id
                                                             AND MIString_PartNumber.DescId = zc_MIString_PartNumber()

                                 LEFT JOIN MovementItemDate AS MIDate_Insert
                                                            ON MIDate_Insert.MovementItemId = MovementItem.Id
                                                           AND MIDate_Insert.DescId = zc_MIDate_Insert()
                                 LEFT JOIN MovementItemLinkObject AS MILO_Insert
                                                                  ON MILO_Insert.MovementItemId = MovementItem.Id
                                                                 AND MILO_Insert.DescId = zc_MILinkObject_Insert()
                                 LEFT JOIN Object AS Object_Insert ON Object_Insert.Id = MILO_Insert.ObjectId
                           )
              -- резерв
            , tmpMI_Child AS (SELECT MovementItem.ParentId
                                   , SUM (COALESCE (MovementItem.Amount,0)) AS Amount
                              FROM MovementItem
                              WHERE MovementItem.MovementId = inMovementId
                                AND MovementItem.DescId     = zc_MI_Child()
                                AND MovementItem.isErased   = FALSE
                              GROUP BY MovementItem.ParentId
                             )
 
            -- Затраты
            , tmpCost AS (SELECT MIContainer.PartionId
                               , MIContainer.ObjectId_analyzer         AS GoodsId
                               , SUM (COALESCE (MIContainer.Amount,0)) AS Amount      -- Сумма затраты
                          FROM Movement AS Movement_Cost
                                LEFT JOIN MovementItemContainer AS MIContainer
                                                                ON MIContainer.MovementId = Movement_Cost.Id
                                                               AND MIContainer.DescId = zc_Container_Summ()
                                                               AND MIContainer.isActive = TRUE
                          WHERE Movement_Cost.ParentId = inMovementId
                          GROUP BY MIContainer.PartionId
                                 , MIContainer.ObjectId_analyzer
                          HAVING SUM (COALESCE (MIContainer.Amount,0)) <> 0
                         )

            -- Результат
            SELECT
                0 :: Integer               AS Id
              , 0 :: Integer               AS PartionId
              , tmpGoodsParams.GoodsId     AS GoodsId
              , tmpGoodsParams.GoodsCode   AS GoodsCode
              , tmpGoodsParams.GoodsName   AS GoodsName

              , CAST (NULL AS TFloat)      AS Amount
              , tmpGoodsParams.CountForPrice
               -- резерв
              , 0                          :: TFloat AS Amount_unit

                -- Цена вх. 
              , CASE WHEN vbPriceWithVAT = TRUE THEN tmpGoodsParams.EKPriceWVAT ELSE tmpGoodsParams.EKPrice END ::TFloat AS OperPrice
                -- Цена вх. c НДС
              , tmpGoodsParams.EKPriceWVAT ::TFloat AS OperPriceWithVAT
                -- Цена вх. Без НДС
              , tmpGoodsParams.EKPrice     ::TFloat AS OperPriceNoVAT
                -- Цена без НДС затраты
              , 0                          ::TFloat AS CostPrice
                -- Цена вх. с затратами без НДС
              , tmpGoodsParams.EKPrice     ::TFloat AS OperPrice_cost
                --
              , tmpGoodsParams.EmpfPrice   ::TFloat
              , 0                          ::TFloat AS OperPriceList
                -- Сумма вх. без НДС
              , 0                          ::TFloat AS Summ
                -- Сумма вх. с НДС
              , 0                          ::TFloat AS SummWithVAT
                -- Итого сумма затраты без НДС
              , 0                          ::TFloat AS Summ_cost
                -- Итого сумма вх. с затратами без НДС
              , 0                          ::TFloat AS TotalSumm_cost

              , 0 ::TFloat AS OperPrice_orig
              , 0 ::TFloat AS DiscountTax   
              , 0 ::TFloat AS SummIn        

              , NULL::TVarChar             AS PartNumber
              , NULL::TVarChar             AS Comment

              , FALSE ::Boolean            AS isErased

              , NULL::TVarChar             AS InsertName
              , NULL::TDateTime            AS InsertDate
              --
              , tmpGoodsParams.Article
              , tmpGoodsParams.GoodsGroupId
              , tmpGoodsParams.GoodsGroupName
              , tmpGoodsParams.GoodsGroupNameFull
              , tmpGoodsParams.MeasureId
              , tmpGoodsParams.MeasureName
              , tmpGoodsParams.GoodsTagId
              , tmpGoodsParams.GoodsTagName
              , tmpGoodsParams.GoodsTypeId
              , tmpGoodsParams.GoodsTypeName
              , tmpGoodsParams.GoodsSizeId
              , tmpGoodsParams.GoodsSizeName
              , tmpGoodsParams.ProdColorId
              , tmpGoodsParams.ProdColorName

              , vbTaxKindId  AS TaxKindId
              , vbVATPercent AS TaxKindValue

            FROM tmpGoods
                 LEFT JOIN tmpMI ON tmpMI.GoodsId = tmpGoods.GoodsId
                 LEFT JOIN tmpGoodsParams AS tmpGoodsParams ON tmpGoodsParams.GoodsId = tmpGoods.GoodsId
            WHERE tmpMI.GoodsId IS NULL

          UNION ALL
            SELECT
                MovementItem.Id           AS Id
              , MovementItem.PartionId    AS PartionId
              , MovementItem.GoodsId      AS GoodsId
              , Object_Goods.ObjectCode   AS GoodsCode
              , Object_Goods.ValueData    AS GoodsName
              , MovementItem.Amount           ::TFloat
              , MovementItem.CountForPrice    ::TFloat
              , tmpMI_Child.Amount            :: TFloat AS Amount_unit

                -- Цена вх.
              , MovementItem.OperPrice        ::TFloat
                -- Цена вх. c НДС
              , MovementItem.OperPriceWithVAT ::TFloat
                -- Цена вх. без НДС
              , MovementItem.OperPriceNoVAT ::TFloat

                -- Цена без НДС затраты
              , CASE WHEN COALESCE (MovementItem.Amount,0) <> 0 THEN COALESCE (tmpCost.Amount,0) / MovementItem.Amount ELSE 0 END ::TFloat AS CostPrice
                -- Цена вх. с затратами без НДС
              , (MovementItem.OperPrice / COALESCE (MovementItem.CountForPrice,1)
                + CASE WHEN COALESCE (MovementItem.Amount,0) <> 0 THEN COALESCE (tmpCost.Amount,0) / MovementItem.Amount ELSE 0 END) ::TFloat AS OperPrice_cost

              , Object_PartionGoods.EmpfPrice     ::TFloat
              , MovementItem.OperPriceList       ::TFloat

                -- Сумма вх. без НДС
              , CAST (CASE WHEN MovementItem.CountForPrice > 0
                           THEN CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPrice / MovementItem.CountForPrice AS NUMERIC (16, 2))
                           ELSE CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPrice AS NUMERIC (16, 2))
                       END AS TFloat) AS Summ

                -- Сумма вх. с НДС
              , CAST (CASE WHEN MovementItem.CountForPrice > 0
                           THEN CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPriceWithVAT / MovementItem.CountForPrice AS NUMERIC (16, 2))
                           ELSE CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPriceWithVAT AS NUMERIC (16, 2))
                       END AS TFloat) AS SummWithVAT

                -- Итого сумма затраты без НДС
              , COALESCE (tmpCost.Amount,0)  ::TFloat AS Summ_cost
                -- Итого сумма вх. с затратами без НДС
              , (MovementItem.Amount * (MovementItem.OperPrice / MovementItem.CountForPrice) + COALESCE (tmpCost.Amount,0))  ::TFloat AS TotalSumm_cost

              , MovementItem.OperPrice_orig ::TFloat
              , MovementItem.DiscountTax    ::TFloat
              , MovementItem.SummIn         ::TFloat

              , MovementItem.PartNumber ::TVarChar
              , MovementItem.Comment    :: TVarChar
              , MovementItem.isErased

              , MovementItem.InsertName
              , MovementItem.InsertDate

              --
              , ObjectString_Article.ValueData     AS Article
              , Object_GoodsGroup.Id        AS GoodsGroupId
              , Object_GoodsGroup.ValueData AS GoodsGroupName
              , ObjectString_GoodsGroupFull.ValueData AS GoodsGroupNameFull
              , Object_Measure.Id                  AS MeasureId
              , Object_Measure.ValueData           AS MeasureName
              , Object_GoodsTag.Id                 AS GoodsTagId
              , Object_GoodsTag.ValueData          AS GoodsTagName
              , Object_GoodsType.Id                AS GoodsTypeId
              , Object_GoodsType.ValueData         AS GoodsTypeName
              , Object_GoodsSize.Id                AS GoodsSizeId
              , Object_GoodsSize.ValueData         AS GoodsSizeName
              , Object_ProdColor.Id                AS ProdColorId
              , Object_ProdColor.ValueData         AS ProdColorName

              , vbTaxKindId  AS TaxKindId
              , vbVATPercent AS TaxKindValue

            FROM tmpMI AS MovementItem
                 LEFT JOIN Object AS Object_Goods ON Object_Goods.Id = MovementItem.GoodsId

                 LEFT JOIN Object_PartionGoods ON Object_PartionGoods.MovementItemId = MovementItem.PartionId

                 LEFT JOIN Object AS Object_GoodsGroup ON Object_GoodsGroup.Id = Object_PartionGoods.GoodsGroupId
                 LEFT JOIN Object AS Object_Measure    ON Object_Measure.Id    = Object_PartionGoods.MeasureId
                 LEFT JOIN Object AS Object_GoodsTag   ON Object_GoodsTag.Id   = Object_PartionGoods.GoodsTagId
                 LEFT JOIN Object AS Object_GoodsType  ON Object_GoodsType.Id  = Object_PartionGoods.GoodsTypeId
                 LEFT JOIN Object AS Object_GoodsSize  ON Object_GoodsSize.Id  = Object_PartionGoods.GoodsSizeId
                 LEFT JOIN Object AS Object_ProdColor  ON Object_ProdColor.Id  = Object_PartionGoods.ProdColorId

                 LEFT JOIN ObjectString AS ObjectString_GoodsGroupFull
                                        ON ObjectString_GoodsGroupFull.ObjectId = MovementItem.GoodsId
                                       AND ObjectString_GoodsGroupFull.DescId = zc_ObjectString_Goods_GroupNameFull()
                 LEFT JOIN ObjectString AS ObjectString_Article
                                        ON ObjectString_Article.ObjectId = MovementItem.GoodsId
                                       AND ObjectString_Article.DescId = zc_ObjectString_Article()

                 -- затраты берем из проводок
                 LEFT JOIN tmpCost ON tmpCost.PartionId = MovementItem.PartionId
                 LEFT JOIN tmpMI_Child ON tmpMI_Child.ParentId = MovementItem.Id

            ;
    ELSE
       RETURN QUERY
         WITH tmpIsErased AS (SELECT FALSE AS isErased
                               UNION ALL
                              SELECT inIsErased AS isErased WHERE inIsErased = TRUE
                             )
              -- Элементы
            , tmpMI AS   (SELECT MovementItem.ObjectId   AS GoodsId
                               , MovementItem.Id         AS PartionId
                               , MovementItem.Amount
                                 -- Цена
                               , MIFloat_OperPrice.ValueData        AS OperPrice
                               , MIFloat_OperPriceList.ValueData    AS OperPriceList
                               , CASE WHEN COALESCE (MIFloat_CountForPrice.ValueData, 1) = 0 THEN 1 ELSE COALESCE (MIFloat_CountForPrice.ValueData, 1) END AS CountForPrice
                                 -- Цена вх. c НДС, БЕЗ учета скидки
                               , CASE WHEN vbPriceWithVAT = TRUE
                                      THEN MIFloat_OperPrice.ValueData
                                      ELSE zfCalc_SummWVAT (MIFloat_OperPrice.ValueData, vbVATPercent)
                                 END AS OperPriceWithVAT
                                 -- Цена вх. без НДС, БЕЗ учета скидки
                               , CASE WHEN vbPriceWithVAT = TRUE
                                      THEN zfCalc_Summ_NoVAT (MIFloat_OperPrice.ValueData, vbVATPercent)
                                      ELSE MIFloat_OperPrice.ValueData
                                 END AS OperPriceNoVAT
                               --

                               , COALESCE (MIFloat_OperPrice_orig.ValueData, 0)  AS OperPrice_orig
                               , COALESCE (MIFloat_DiscountTax.ValueData, 0)     AS DiscountTax
                               , COALESCE (MIFloat_SummIn.ValueData, 0)          AS SummIn

                               , MovementItem.Id
                               , MovementItem.isErased
                               , MIString_PartNumber.ValueData AS PartNumber
                               , MIString_Comment.ValueData    AS Comment

                               , Object_Insert.ValueData       AS InsertName
                               , MIDate_Insert.ValueData       AS InsertDate

                          FROM tmpIsErased
                               JOIN MovementItem ON MovementItem.MovementId = inMovementId
                                                AND MovementItem.DescId     = zc_MI_Master()
                                                AND MovementItem.isErased   = tmpIsErased.isErased

                               LEFT JOIN MovementItemFloat AS MIFloat_OperPrice
                                                           ON MIFloat_OperPrice.MovementItemId = MovementItem.Id
                                                          AND MIFloat_OperPrice.DescId = zc_MIFloat_OperPrice()

                               LEFT JOIN MovementItemFloat AS MIFloat_OperPriceList
                                                           ON MIFloat_OperPriceList.MovementItemId = MovementItem.Id
                                                          AND MIFloat_OperPriceList.DescId = zc_MIFloat_OperPriceList()

                               LEFT JOIN MovementItemFloat AS MIFloat_CountForPrice
                                                           ON MIFloat_CountForPrice.MovementItemId = MovementItem.Id
                                                          AND MIFloat_CountForPrice.DescId = zc_MIFloat_CountForPrice()

                                LEFT JOIN MovementItemFloat AS MIFloat_OperPrice_orig
                                                            ON MIFloat_OperPrice_orig.MovementItemId = MovementItem.Id
                                                           AND MIFloat_OperPrice_orig.DescId = zc_MIFloat_OperPrice_orig()
                                LEFT JOIN MovementItemFloat AS MIFloat_DiscountTax
                                                            ON MIFloat_DiscountTax.MovementItemId = MovementItem.Id
                                                           AND MIFloat_DiscountTax.DescId = zc_MIFloat_DiscountTax()
                                LEFT JOIN MovementItemFloat AS MIFloat_SummIn
                                                            ON MIFloat_SummIn.MovementItemId = MovementItem.Id
                                                           AND MIFloat_SummIn.DescId = zc_MIFloat_SummIn()
                                                           
                               LEFT JOIN MovementItemString AS MIString_PartNumber
                                                            ON MIString_PartNumber.MovementItemId = MovementItem.Id
                                                           AND MIString_PartNumber.DescId = zc_MIString_PartNumber()

                               LEFT JOIN MovementItemString AS MIString_Comment
                                                            ON MIString_Comment.MovementItemId = MovementItem.Id
                                                           AND MIString_Comment.DescId = zc_MIString_Comment()

                               LEFT JOIN MovementItemDate AS MIDate_Insert
                                                          ON MIDate_Insert.MovementItemId = MovementItem.Id
                                                         AND MIDate_Insert.DescId = zc_MIDate_Insert()
                               LEFT JOIN MovementItemLinkObject AS MILO_Insert
                                                                ON MILO_Insert.MovementItemId = MovementItem.Id
                                                               AND MILO_Insert.DescId = zc_MILinkObject_Insert()
                               LEFT JOIN Object AS Object_Insert ON Object_Insert.Id = MILO_Insert.ObjectId
                         )
            -- Затраты
            , tmpCost AS (SELECT MIContainer.PartionId
                               , MIContainer.ObjectId_analyzer         AS GoodsId
                               , SUM (COALESCE (MIContainer.Amount,0)) AS Amount      -- Сумма затраты
                          FROM Movement AS Movement_Cost
                                LEFT JOIN MovementItemContainer AS MIContainer
                                                                ON MIContainer.MovementId = Movement_Cost.Id
                                                               AND MIContainer.DescId = zc_Container_Summ()
                                                               AND MIContainer.isActive = TRUE
                          WHERE Movement_Cost.ParentId = inMovementId
                          GROUP BY MIContainer.PartionId
                                 , MIContainer.ObjectId_analyzer
                          HAVING SUM (COALESCE (MIContainer.Amount,0)) <> 0
                         )
            --резерв
            , tmpMI_Child AS (SELECT MovementItem.ParentId
                                   , SUM (COALESCE (MovementItem.Amount,0)) AS Amount
                              FROM MovementItem
                              WHERE MovementItem.MovementId = inMovementId
                                AND MovementItem.DescId     = zc_MI_Child()
                                AND MovementItem.isErased   = FALSE
                              GROUP BY MovementItem.ParentId
                             )

         -- Результат
         SELECT
                MovementItem.Id           AS Id
              , MovementItem.PartionId    AS PartionId
              , MovementItem.GoodsId      AS GoodsId
              , Object_Goods.ObjectCode   AS GoodsCode
              , Object_Goods.ValueData    AS GoodsName
              , MovementItem.Amount           ::TFloat
              , MovementItem.CountForPrice    ::TFloat
              , tmpMI_Child.Amount            :: TFloat AS Amount_unit

                -- Цена вх.
              , MovementItem.OperPrice        ::TFloat
                -- Цена вх. c НДС
              , MovementItem.OperPriceWithVAT ::TFloat
              -- Цена вх. без НДС
              , MovementItem.OperPriceNoVAT
                -- Цена без НДС затраты
              , CASE WHEN COALESCE (MovementItem.Amount,0) <> 0 THEN COALESCE (tmpCost.Amount,0) / MovementItem.Amount ELSE 0 END ::TFloat AS CostPrice
                -- Цена вх. с затратами без НДС
              , ((MovementItem.OperPrice / MovementItem.CountForPrice)+ COALESCE (tmpCost.Amount,0)) ::TFloat AS OperPrice_cost

              , Object_PartionGoods.EmpfPrice     ::TFloat
              , MovementItem.OperPriceList        ::TFloat
              
              

                -- Сумма вх. без НДС
              , CAST (CASE WHEN MovementItem.CountForPrice > 0
                           THEN CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPrice / MovementItem.CountForPrice AS NUMERIC (16, 2))
                           ELSE CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPrice AS NUMERIC (16, 2))
                       END AS TFloat) AS Summ

                -- Сумма вх. с НДС
              , CAST (CASE WHEN MovementItem.CountForPrice > 0
                           THEN CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPriceWithVAT / MovementItem.CountForPrice AS NUMERIC (16, 2))
                           ELSE CAST (COALESCE (MovementItem.Amount, 0) * MovementItem.OperPriceWithVAT AS NUMERIC (16, 2))
                       END AS TFloat) AS SummWithVAT

                -- Итого сумма затраты без НДС
              , (COALESCE (tmpCost.Amount,0))  ::TFloat AS Summ_cost
                -- Итого сумма вх. с затратами без НДС
              , (MovementItem.Amount * (MovementItem.OperPrice / MovementItem.CountForPrice) + COALESCE (tmpCost.Amount,0) )  ::TFloat AS TotalSumm_cost


              , MovementItem.OperPrice_orig ::TFloat
              , MovementItem.DiscountTax    ::TFloat
              , MovementItem.SummIn         ::TFloat

              , MovementItem.PartNumber ::TVarChar
              , MovementItem.Comment    ::TVarChar
              , MovementItem.isErased

              , MovementItem.InsertName
              , MovementItem.InsertDate

              --
              , ObjectString_Article.ValueData     AS Article
              , Object_GoodsGroup.Id               AS GoodsGroupId
              , Object_GoodsGroup.ValueData        AS GoodsGroupName
              , ObjectString_GoodsGroupFull.ValueData AS GoodsGroupNameFull
              , Object_Measure.Id                  AS MeasureId
              , Object_Measure.ValueData           AS MeasureName
              , Object_GoodsTag.Id                 AS GoodsTagId
              , Object_GoodsTag.ValueData          AS GoodsTagName
              , Object_GoodsType.Id                AS GoodsTypeId
              , Object_GoodsType.ValueData         AS GoodsTypeName
              , Object_GoodsSize.Id                AS GoodsSizeId
              , Object_GoodsSize.ValueData         AS GoodsSizeName
              , Object_ProdColor.Id                AS ProdColorId
              , Object_ProdColor.ValueData         AS ProdColorName

              , vbTaxKindId  AS TaxKindId
              , vbVATPercent AS TaxKindValue

            FROM tmpMI AS MovementItem
                 LEFT JOIN Object AS Object_Goods ON Object_Goods.Id = MovementItem.GoodsId

                 LEFT JOIN Object_PartionGoods ON Object_PartionGoods.MovementItemId = MovementItem.PartionId

                 LEFT JOIN Object AS Object_GoodsGroup ON Object_GoodsGroup.Id = Object_PartionGoods.GoodsGroupId
                 LEFT JOIN Object AS Object_Measure    ON Object_Measure.Id    = Object_PartionGoods.MeasureId
                 LEFT JOIN Object AS Object_GoodsTag   ON Object_GoodsTag.Id   = Object_PartionGoods.GoodsTagId
                 LEFT JOIN Object AS Object_GoodsType  ON Object_GoodsType.Id  = Object_PartionGoods.GoodsTypeId
                 LEFT JOIN Object AS Object_GoodsSize  ON Object_GoodsSize.Id  = Object_PartionGoods.GoodsSizeId
                 LEFT JOIN Object AS Object_ProdColor  ON Object_ProdColor.Id  = Object_PartionGoods.ProdColorId

                 LEFT JOIN ObjectString AS ObjectString_GoodsGroupFull
                                        ON ObjectString_GoodsGroupFull.ObjectId = MovementItem.GoodsId
                                       AND ObjectString_GoodsGroupFull.DescId = zc_ObjectString_Goods_GroupNameFull()
                 LEFT JOIN ObjectString AS ObjectString_Article
                                        ON ObjectString_Article.ObjectId = MovementItem.GoodsId
                                       AND ObjectString_Article.DescId = zc_ObjectString_Article()
                 -- затраты берем из проводок
                 LEFT JOIN tmpCost ON tmpCost.PartionId = MovementItem.PartionId
                 LEFT JOIN tmpMI_Child ON tmpMI_Child.ParentId = MovementItem.Id
            ;
    END IF;


END;
$BODY$
  LANGUAGE PLPGSQL VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
 07,06,21         *
 08.02.21         *
*/

-- тест
-- SELECT * FROM gpSelect_MovementItem_Income (inMovementId:= 0, inShowAll:= TRUE, inIsErased:= FALSE, inSession:= '9818')
