STRINGTABLE
{
0, "TMS FMX WebGMaps"
1, "2.7.1.1"
2, "Registered"
3, "FMX"
4, "Product Page,Support,Purchase"
5, "http://www.tmssoftware.com/site/tmsfmxwebgmaps.asp,http://www.tmssoftware.com/site/support.asp,http://www.tmssoftware.com/site/tmsfmxwebgmaps.asp#product-buy-online"
}