-- Function: gpSelect_MI_Send_BarCode()

DROP FUNCTION IF EXISTS gpSelect_MI_Send_BarCode (Integer, TVarChar);

CREATE OR REPLACE FUNCTION gpSelect_MI_Send_BarCode (
    IN inMovementId  Integer      , -- ключ Документа
    IN inSession     TVarChar       -- сессия пользователя
)
RETURNS TABLE (BarCode_Goods TVarChar
             , BarCode_PartNumber TVarChar
             )
AS
$BODY$
  DECLARE vbUserId       Integer;
BEGIN

    -- проверка прав пользователя на вызов процедуры
    -- vbUserId := PERFORM lpCheckRight (inSession, zc_Enum_Process_Select_MovementItem_Send());
    vbUserId := lpGetUserBySession (inSession);

       RETURN QUERY
         -- результат
            SELECT NULL ::TVarChar AS BarCode_Goods
                 , NULL ::TVarChar AS BarCode_PartNumber
            ;

END;
$BODY$
  LANGUAGE PLPGSQL VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
 05.10.21         * 
*/

-- тест
--