-- Function: gpMovementItem_OrderPartner_SetErased (Integer, Integer, TVarChar)

DROP FUNCTION IF EXISTS gpMovementItem_OrderPartner_SetErased (Integer, TVarChar);

CREATE OR REPLACE FUNCTION gpMovementItem_OrderPartner_SetErased(
    IN inMovementItemId      Integer              , -- ключ объекта <Элемент документа>
   OUT outIsErased           Boolean              , -- новое значение
    IN inSession             TVarChar               -- текущий пользователь
)
  RETURNS Boolean
AS
$BODY$
   DECLARE vbMovementId Integer;
   DECLARE vbStatusId Integer;
   DECLARE vbUserId Integer;
BEGIN
  --vbUserId:= lpCheckRight(inSession, zc_Enum_Process_SetErased_MI_OrderPartner());
  vbUserId:= inSession;

  -- устанавливаем новое значение
  outIsErased := TRUE;

  -- Обязательно меняем
  UPDATE MovementItem SET isErased = TRUE WHERE Id = inMovementItemId
         RETURNING MovementId INTO vbMovementId;

  -- определяем <Статус>
  vbStatusId := (SELECT StatusId FROM Movement WHERE Id = vbMovementId);
  -- проверка - проведенные/удаленные документы Изменять нельзя
  IF vbStatusId <> zc_Enum_Status_UnComplete() AND NOT EXISTS (SELECT UserId FROM ObjectLink_UserRole_View WHERE UserId = vbUserId AND RoleId = zc_Enum_Role_Admin())
  THEN
      RAISE EXCEPTION 'Ошибка.Изменение документа в статусе <%> не возможно.', lfGet_Object_ValueData (vbStatusId);
  END IF;

  --при удалении в мастере строчки - во всех его zc_Movement_OrderClient.zc_MI_Child обнуляем zc_MIFloat_MovementId
  PERFORM lpInsertUpdate_MovementItemFloat (zc_MIFloat_MovementId(), MI_Child_client.Id, 0)
  FROM MovementItem AS MI_Master
       INNER JOIN MovementItemFloat AS MIFloat_MovementId
                                    ON MIFloat_MovementId.ValueData ::Integer = MI_Master.MovementId
                                   AND MIFloat_MovementId.DescId = zc_MIFloat_MovementId()

       INNER JOIN MovementItem AS MI_Child_client
                               ON MI_Child_client.Id = MIFloat_MovementId.MovementItemId
                              AND MI_Child_client.DescId   = zc_MI_Child()
                              AND MI_Child_client.isErased = FALSE
                              AND MI_Child_client.ObjectId = MI_Master.ObjectId
  WHERE MI_Master.Id = inMovementItemId
    AND MI_Master.DescId = zc_MI_Master();
  ---
  
  
  -- пересчитали Итоговые суммы по накладной
  PERFORM lpInsertUpdate_MovementFloat_TotalSumm (vbMovementId);

END;
$BODY$
  LANGUAGE plpgsql VOLATILE;

/*-------------------------------------------------------------------------------
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
 12.04.21         *
*/

-- тест
--