-- Function: gpReport_ImplementationPlanEmployee()

DROP FUNCTION IF EXISTS gpReport_ImplementationPlanEmployee (Integer, TDateTime, TVarChar);

CREATE OR REPLACE FUNCTION gpReport_ImplementationPlanEmployee(
    IN inMemberID      Integer,    -- Сотрудни
    IN inStartDate     TDateTime , -- Дата в месяце
    IN inSession       TVarChar    -- сессия пользователя
)
RETURNS SETOF refcursor
AS
$BODY$
   DECLARE vbUserId Integer;
   DECLARE cur1 refcursor;
   DECLARE cur2 refcursor;
   DECLARE cur3 refcursor;
   DECLARE cur4 refcursor;
   DECLARE cur5 refcursor;
   DECLARE vbDateStart TDateTime;
   DECLARE vbDateEnd TDateTime;
   DECLARE vbQueryText Text;
   DECLARE curUnit CURSOR FOR SELECT UnitID FROM tmpImplementation GROUP BY UnitCategoryId, UnitID ORDER BY UnitCategoryId, UnitID;
   DECLARE vbUnitID Integer;
BEGIN
     -- проверка прав пользователя на вызов процедуры
     -- PERFORM lpCheckRight (inSession, zc_Enum_Process_Select_Movement_OrderInternal());

    IF COALESCE(inMemberID, 0) = 0
    THEN
         RAISE EXCEPTION 'Не введен сотрудник.';
    END IF;

    vbDateStart := date_trunc('month', inStartDate);
    vbDateEnd := date_trunc('month', vbDateStart + INTERVAL '1 month');

    SELECT ObjectLink_User_Member.ObjectId
    INTO vbUserId
    FROM ObjectLink AS ObjectLink_User_Member
        INNER JOIN Movement AS Movement ON Movement.OperDate >= vbDateStart
                           AND Movement.OperDate < vbDateEnd
                           AND Movement.DescId = zc_Movement_Check()
                           AND Movement.StatusId = zc_Enum_Status_Complete()

        INNER JOIN MovementLinkObject AS MovementLinkObject_Insert
                                      ON MovementLinkObject_Insert.MovementId = Movement.Id
                                     AND MovementLinkObject_Insert.DescId = zc_MovementLinkObject_Insert()
                                     AND MovementLinkObject_Insert.ObjectId = ObjectLink_User_Member.ObjectId

    WHERE ObjectLink_User_Member.DescId = zc_ObjectLink_User_Member()
      AND ObjectLink_User_Member.ChildObjectId = inMemberID;

    IF COALESCE(vbUserId, 0) = 0
    THEN
         RAISE EXCEPTION 'По сотруднику не найдены чеки.';
    END IF;

    IF (vbUserId <> lpGetUserBySession (inSession)) AND
       NOT EXISTS (SELECT 1
             FROM ObjectLink AS Object_UserRole_User -- Связь пользователя с объектом роли пользователя
                      JOIN ObjectLink AS Object_UserRole_Role -- Связь ролей с объектом роли пользователя
                                      ON Object_UserRole_Role.DescId = zc_ObjectLink_UserRole_Role()
                                     AND Object_UserRole_Role.ObjectId = Object_UserRole_User.ObjectId
                                     AND Object_UserRole_Role.ChildObjectId = zc_Enum_Role_Admin()
             WHERE Object_UserRole_User.DescId = zc_ObjectLink_UserRole_User()
               AND Object_UserRole_User.ChildObjectId = lpGetUserBySession (inSession)) AND
       NOT EXISTS (SELECT 1
                 FROM ObjectLink AS Object_UserRole_User -- Связь пользователя с объектом роли пользователя
                      JOIN ObjectLink AS Object_UserRole_Role -- Связь ролей с объектом роли пользователя
                                      ON Object_UserRole_Role.DescId = zc_ObjectLink_UserRole_Role()
                                     AND Object_UserRole_Role.ObjectId = Object_UserRole_User.ObjectId
                      JOIN ObjectLink AS RoleRight_Role -- Связь роли с объектом процессы ролей
                                      ON RoleRight_Role.ChildObjectId = Object_UserRole_Role.ChildObjectId
                                     AND RoleRight_Role.DescId = zc_ObjectLink_RoleRight_Role()
                      JOIN ObjectLink AS RoleRight_Process -- Связь процесса с объектом процессы ролей
                                      ON RoleRight_Process.ObjectId = RoleRight_Role.ObjectId
                                     AND RoleRight_Process.DescId = zc_ObjectLink_RoleRight_Process()
                                     AND RoleRight_Process.ChildObjectId = zc_Enum_Process_InsertUpdate_Object_Member()
                 WHERE Object_UserRole_User.DescId = zc_ObjectLink_UserRole_User()
                   AND Object_UserRole_User.ChildObjectId = lpGetUserBySession (inSession))
    THEN
         RAISE EXCEPTION 'Отчет можно запускать только свой.';
    END IF;

    CREATE TEMP TABLE tmpImplementation (
             UnitCategoryId Integer,
             UnitCategoryName TVarChar,
             ObjectId Integer,
             UnitID Integer,
             UnitName TVarChar,
             GroupName TVarChar,
             GoodsId Integer,
             GoodsCode Integer,
             GoodsName TVarChar,
             Amount TFloat,
             Price TFloat,

             AmountPlan TFloat,
             AmountPlanMax TFloat
      ) ON COMMIT DROP;

      -- Заполняем данные по продажам
    INSERT INTO tmpImplementation
      WITH tmpImplementation AS (SELECT
             MovementLinkObject_Unit.ObjectId                      AS ObjectId
           , MovementItem.ObjectId                                 AS GoodsId
           , Sum(MovementItem.Amount)::TFloat                      AS Amount
           , ROUND(Sum(COALESCE (MIFloat_Price.ValueData, 0)::TFloat *
             MovementItem.Amount) / Sum(MovementItem.Amount), 2)::TFloat AS Price
       FROM Movement

          INNER JOIN MovementLinkObject AS MovementLinkObject_Insert
                                       ON MovementLinkObject_Insert.MovementId = Movement.Id
                                      AND MovementLinkObject_Insert.DescId = zc_MovementLinkObject_Insert()
                                      AND MovementLinkObject_Insert.ObjectId = vbUserId

          LEFT JOIN MovementLinkObject AS MovementLinkObject_Unit
                                       ON MovementLinkObject_Unit.MovementId = Movement.Id
                                      AND MovementLinkObject_Unit.DescId = zc_MovementLinkObject_Unit()

          INNER JOIN MovementItem AS MovementItem
                                  ON MovementItem.MovementId = Movement.Id
                                 AND MovementItem.isErased   = FALSE

          LEFT JOIN MovementItemFloat AS MIFloat_Price
                                      ON MIFloat_Price.MovementItemId = MovementItem.Id
                                     AND MIFloat_Price.DescId = zc_MIFloat_Price()

       WHERE Movement.OperDate >= vbDateStart
         AND Movement.OperDate < vbDateEnd
         AND Movement.DescId = zc_Movement_Check()
         AND Movement.StatusId = zc_Enum_Status_Complete()
         AND MovementItem.Amount <> 0
       GROUP BY MovementLinkObject_Unit.ObjectId
           , MovementItem.ObjectId
       HAVING Sum(MovementItem.Amount)::TFloat > 0),

       tmpUnit AS (SELECT DISTINCT
                 MovementLinkObject_Unit.ObjectId                      AS ObjectId
       FROM Movement

          INNER JOIN MovementLinkObject AS MovementLinkObject_Insert
                                        ON MovementLinkObject_Insert.MovementId = Movement.Id
                                       AND MovementLinkObject_Insert.DescId = zc_MovementLinkObject_Insert()
                                       AND MovementLinkObject_Insert.ObjectId = vbUserId

          LEFT JOIN MovementLinkObject AS MovementLinkObject_Unit
                                       ON MovementLinkObject_Unit.MovementId = Movement.Id
                                      AND MovementLinkObject_Unit.DescId = zc_MovementLinkObject_Unit()

       WHERE Movement.OperDate >= vbDateStart
         AND Movement.OperDate < vbDateEnd
         AND Movement.DescId = zc_Movement_Check()
         AND Movement.StatusId = zc_Enum_Status_Complete())

     SELECT
           Object_UnitCategory.ObjectCode                        AS UnitCategoryId
         , Object_UnitCategory.ValueData                         AS UnitCategoryName
         , ObjectLink_Unit_Category.ObjectId                     AS ObjectId
         , Object_Unit.ObjectCode                                AS UnitID
         , Object_Unit.ValueData                                 AS UnitName
         , Object_Goods.GoodsGroupName                           AS GroupName
         , MI_PromoUnit.ObjectId                                 AS GoodsId
         , Object_Goods.GoodsCodeInt                             AS GoodsCode
         , Object_Goods.GoodsName                                AS GoodsName
         , COALESCE(Implementation.Amount, 0)::TFloat            AS Amount
         , COALESCE(Implementation.Price,
           ROUND(MIFloat_Price.ValueData, 2))::TFloat            AS Price
         , MI_PromoUnit.Amount                                   AS AmountPlan
         , MIFloat_AmountPlanMax.ValueData::TFloat               AS AmountPlanMax
     FROM Movement AS Movement_PromoUnit

              LEFT JOIN MovementLinkObject AS MovementLinkObject_UnitCategory
                                           ON MovementLinkObject_UnitCategory.MovementId = Movement_PromoUnit.Id
                                          AND MovementLinkObject_UnitCategory.DescId = zc_MovementLinkObject_UnitCategory()
              LEFT JOIN Object AS Object_UnitCategory ON Object_UnitCategory.Id = MovementLinkObject_UnitCategory.ObjectId

              LEFT JOIN ObjectLink AS ObjectLink_Unit_Category
                             ON ObjectLink_Unit_Category.ChildObjectId = MovementLinkObject_UnitCategory.ObjectId
                            AND ObjectLink_Unit_Category.DescId = zc_ObjectLink_Unit_Category()
              LEFT JOIN Object AS Object_Unit ON Object_Unit.Id = ObjectLink_Unit_Category.ObjectId

              LEFT JOIN MovementItem AS MI_PromoUnit ON MI_PromoUnit.MovementId = Movement_PromoUnit.Id
                                    AND MI_PromoUnit.DescId = zc_MI_Master()
                                    AND MI_PromoUnit.isErased = FALSE

              LEFT JOIN Object_Goods_View AS Object_Goods ON Object_Goods.Id = MI_PromoUnit.ObjectId

              LEFT JOIN MovementItemFloat AS MIFloat_Price  ON MIFloat_Price.MovementItemId = MI_PromoUnit.Id
                                         AND MIFloat_Price.DescId = zc_MIFloat_Price()

              LEFT JOIN MovementItemFloat AS MIFloat_AmountPlanMax
                                          ON MIFloat_AmountPlanMax.MovementItemId = MI_PromoUnit.Id
                                         AND MIFloat_AmountPlanMax.DescId = zc_MIFloat_AmountPlanMax()

              LEFT JOIN tmpImplementation AS Implementation ON  Implementation.ObjectId = ObjectLink_Unit_Category.ObjectId
                                         AND Implementation.GoodsId = MI_PromoUnit.ObjectId

     WHERE Movement_PromoUnit.StatusId = zc_Enum_Status_Complete()
       AND Movement_PromoUnit.DescId = zc_Movement_PromoUnit()
       AND date_trunc('month', Movement_PromoUnit.OperDate) = vbDateStart
       AND ObjectLink_Unit_Category.ObjectId in (SELECT ObjectId FROM tmpUnit)
     ORDER BY Object_Unit.ObjectCode, Object_Goods.GoodsCodeInt;

       -- Вывод результата
     OPEN cur1 FOR SELECT DISTINCT
             UnitCategoryId,
             UnitCategoryName,
             UnitID,
             UnitName FROM tmpImplementation
             ORDER BY UnitCategoryId, UnitID;
     RETURN NEXT cur1;

     CREATE TEMP TABLE tmpResult (
             GroupName TVarChar,
             GoodsCode Integer,
             GoodsName TVarChar,
             Consider TVarChar
      ) ON COMMIT DROP;

     INSERT INTO tmpResult (GroupName, GoodsCode, GoodsName)
     SELECT DISTINCT
               GroupName,
               GoodsCode,
               GoodsName
             FROM tmpImplementation
             WHERE AmountPlanMax > 0
             ORDER BY GroupName, GoodsCode;

      OPEN curUnit;
      LOOP
          FETCH curUnit INTO vbUnitID;
          IF NOT FOUND THEN EXIT; END IF;

          vbQueryText := 'ALTER TABLE tmpResult ADD COLUMN Price' || COALESCE (vbUnitID, 0)::Text || ' TFloat NOT NULL DEFAULT 0 ' ||
            ' , ADD COLUMN Amount' || COALESCE (vbUnitID, 0)::Text || ' TFloat NOT NULL DEFAULT 0 ' ||
            ' , ADD COLUMN AmountPlan' || COALESCE (vbUnitID, 0)::Text || ' TFloat NOT NULL DEFAULT 0 ' ||
            ' , ADD COLUMN AmountPlanAward' || COALESCE (vbUnitID, 0)::Text || ' TFloat NOT NULL DEFAULT 0 ';
          EXECUTE vbQueryText;

          vbQueryText := 'UPDATE tmpResult set Price' || COALESCE (vbUnitID, 0)::Text || ' = T1.T_Price' ||
            ', Amount' || COALESCE (vbUnitID, 0)::Text || ' = T1.T_Amount' ||
            ', AmountPlan' || COALESCE (vbUnitID, 0)::Text || ' = T_AmountPlan' ||
            ', AmountPlanAward' || COALESCE (vbUnitID, 0)::Text || ' = T_AmountPlanMax' ||
            ' FROM (SELECT
               GoodsCode AS GoodsID,
               tmpImplementation.Price AS T_Price,
               tmpImplementation.Amount AS T_Amount,
               tmpImplementation.AmountPlan AS T_AmountPlan,
               tmpImplementation.AmountPlanMax AS T_AmountPlanMax
             FROM tmpImplementation
             WHERE tmpImplementation.UnitID = ' || COALESCE (vbUnitID, 0)::Text || ') AS T1
             WHERE GoodsCode = T1.GoodsID';
          EXECUTE vbQueryText;

      END LOOP;
      CLOSE curUnit;

     OPEN cur2 FOR SELECT * FROM tmpResult ORDER BY GroupName, GoodsCode LIMIT 1;
     RETURN NEXT cur2;

     OPEN cur3 FOR SELECT
            Object_UnitCategory.Id                       AS UnitCategoryId
          , Object_UnitCategory.ObjectCode               AS UnitCategoryCode
          , Object_UnitCategory.ValueData                AS UnitCategoryName
          , ObjectFloat_PenaltyNonMinPlan.ValueData      AS PenaltyNonMinPlan
          , ObjectFloat_PremiumImplPlan.ValueData        AS PremiumImplPlan
          , ObjectFloat_MinLineByLineImplPlan.ValueData  AS MinLineByLineImplPlan
       FROM Object AS Object_UnitCategory

           LEFT JOIN ObjectFloat AS ObjectFloat_PenaltyNonMinPlan
                                 ON ObjectFloat_PenaltyNonMinPlan.ObjectId = Object_UnitCategory.Id
                                AND ObjectFloat_PenaltyNonMinPlan.DescId = zc_ObjectFloat_UnitCategory_PenaltyNonMinPlan()

           LEFT JOIN ObjectFloat AS ObjectFloat_PremiumImplPlan
                                 ON ObjectFloat_PremiumImplPlan.ObjectId = Object_UnitCategory.Id
                                AND ObjectFloat_PremiumImplPlan.DescId = zc_ObjectFloat_UnitCategory_PremiumImplPlan()

           LEFT JOIN ObjectFloat AS ObjectFloat_MinLineByLineImplPlan
                                 ON ObjectFloat_MinLineByLineImplPlan.ObjectId = Object_UnitCategory.Id
                                AND ObjectFloat_MinLineByLineImplPlan.DescId = zc_ObjectFloat_UnitCategory_MinLineByLineImplPlan()

       WHERE Object_UnitCategory.DescId = zc_Object_UnitCategory()
         AND Object_UnitCategory.isErased = False
         AND Object_UnitCategory.ObjectCode IN (SELECT DISTINCT UnitCategoryId FROM tmpImplementation WHERE AmountPlanMax > 0)
       ORDER BY Object_UnitCategory.ObjectCode;
     RETURN NEXT cur3;

     OPEN cur4 FOR  WITH
        tmpUnitDate AS (SELECT
                 MovementLinkObject_Unit.ObjectId                      AS ObjectId
               , date_trunc('day', Movement.OperDate)                  AS OperDate
         FROM Movement

            INNER JOIN MovementLinkObject AS MovementLinkObject_Insert
                                         ON MovementLinkObject_Insert.MovementId = Movement.Id
                                        AND MovementLinkObject_Insert.DescId = zc_MovementLinkObject_Insert()
                                        AND MovementLinkObject_Insert.ObjectId = vbUserId

            LEFT JOIN MovementLinkObject AS MovementLinkObject_Unit
                                         ON MovementLinkObject_Unit.MovementId = Movement.Id
                                        AND MovementLinkObject_Unit.DescId = zc_MovementLinkObject_Unit()

         WHERE Movement.OperDate >= vbDateStart
           AND Movement.OperDate < vbDateEnd
           AND Movement.DescId = zc_Movement_Check()
           AND Movement.StatusId = zc_Enum_Status_Complete()
         GROUP BY MovementLinkObject_Unit.ObjectId
                , date_trunc('day', Movement.OperDate)),
         tmpFactOfManDays AS (SELECT
               ObjectId                                              AS ObjectId
             , COUNT(*)::Integer                                     AS FactOfManDays
         FROM tmpUnitDate
         GROUP BY ObjectId)

       SELECT
            Object_Unit.Id                                       AS UnitId
          , Object_Unit.ObjectCode                               AS UnitCode
          , Object_Unit.ValueData                                AS UnitName
          , ObjectFloat_NormOfManDays.ValueData::Integer         AS NormOfManDays
          , FactOfManDays_Unit.FactOfManDays                     AS FactOfManDays
          , CASE WHEN ObjectFloat_NormOfManDays.ValueData::Integer = 0 THEN 0.0 ELSE
            ROUND(FactOfManDays_Unit.FactOfManDays /
            ObjectFloat_NormOfManDays.ValueData * 100, 2) END    AS PercentAttendance
       FROM Object AS Object_Unit

           LEFT JOIN ObjectLink AS ObjectLink_Unit_Category
                               ON ObjectLink_Unit_Category.ObjectId = Object_Unit.Id
                               AND ObjectLink_Unit_Category.DescId = zc_ObjectLink_Unit_Category()

           LEFT JOIN Object AS Object_UnitCategory ON Object_UnitCategory.Id = ObjectLink_Unit_Category.ChildObjectId

           LEFT JOIN ObjectFloat AS ObjectFloat_NormOfManDays
                                 ON ObjectFloat_NormOfManDays.ObjectId = Object_Unit.Id
                                AND ObjectFloat_NormOfManDays.DescId = zc_ObjectFloat_Unit_NormOfManDays()

           LEFT JOIN tmpFactOfManDays AS FactOfManDays_Unit
                                      ON FactOfManDays_Unit.ObjectId = Object_Unit.Id

       WHERE Object_Unit.DescId = zc_Object_Unit()
         AND Object_Unit.isErased = False
         AND Object_Unit.ObjectCode IN (SELECT DISTINCT UnitID FROM tmpImplementation WHERE AmountPlanMax > 0)
       ORDER BY Object_UnitCategory.ObjectCode, Object_Unit.ObjectCode;
     RETURN NEXT cur4;


     OPEN cur5 FOR SELECT * FROM tmpResult ORDER BY GroupName, GoodsCode;
     RETURN NEXT cur5;

END;
$BODY$
  LANGUAGE PLPGSQL VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Шаблий О.В.
 15.05.18         *
*/

-- тест
--
select * from gpReport_ImplementationPlanEmployee(inMemberId := 1691430 , inStartDate := ('30.05.2018')::TDateTime ,  inSession := '3');