-- Function: gpMI_BankAccount_SetErased (Integer, Integer, TVarChar)

DROP FUNCTION IF EXISTS gpMI_BankAccount_SetErased (Integer, TVarChar);

CREATE OR REPLACE FUNCTION gpMI_BankAccount_SetErased(
    IN inMovementItemId      Integer              , -- ключ объекта <Элемент документа>
   OUT outIsErased           Boolean              , -- новое значение
    IN inSession             TVarChar               -- текущий пользователь
)
  RETURNS Boolean
AS
$BODY$
   DECLARE vbUserId Integer;
BEGIN
  --vbUserId:= lpCheckRight(inSession, zc_Enum_Process_SetErased_MI_Invoice());
  vbUserId:= inSession;

   -- устанавливаем новое значение
  outIsErased:= lpSetErased_MovementItem (inMovementItemId:= inMovementItemId, inUserId:= vbUserId); 
  



  -- устанавливаем новое значение
  --UPDATE Object_PartionGoods SET isErased = TRUE WHERE MovementItemId = inMovementItemId;

  -- устанавливаем новое значение
  -- UPDATE Object SET isErased = TRUE WHERE Object.Id = (SELECT Object_PartionGoods.GoodsId

END;
$BODY$
  LANGUAGE plpgsql VOLATILE;

/*-------------------------------------------------------------------------------
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И.
 12.01.24         *
*/

-- тест
--