SELECT DISTINCT Object.*
FROM Movement 
     INNER JOIN MovementItem ON MovementItem.MovementId = Movement.Id
                            AND MovementItem.DescId     = zc_MI_Master()
                            AND MovementItem.isErased   = FALSE
     INNER JOIN Object ON Object.Id       = MovementItem.ObjectId
                      AND Object.isErased = TRUE
WHERE Movement.DescId   = zc_Movement_PriceList()
  AND Movement.StatusId <> zc_Enum_Status_Erased()