-- Function: gpUpdate_Movement_SmashСheck()

DROP FUNCTION IF EXISTS gpUpdate_Movement_SmashСheck (Integer, TVarChar);

CREATE OR REPLACE FUNCTION gpUpdate_Movement_SmashСheck(
    IN inMovementId        Integer   , -- Ключ объекта <Документ ЧЕК>
    IN inSession           TVarChar    -- сессия пользователя
)
RETURNS void
AS
$BODY$
   DECLARE vbUserId Integer;
   DECLARE vbStatusId Integer;
   DECLARE vbUnitId Integer;
   DECLARE curMI refcursor;
   DECLARE vbID Integer;
   DECLARE vbGoodsID Integer;
   DECLARE vbAmount TFloat;
   DECLARE vbPrice TFloat;
   DECLARE vbPriceSale TFloat;
   DECLARE vbChangePercent TFloat;
   DECLARE vbAmountSmash TFloat;
   DECLARE vbMovementID Integer;
   DECLARE vbPromoCodeID Integer;
   DECLARE vbPromoCodeGUID TVarChar;
   DECLARE vbDate TDateTime;
   DECLARE vbBayer TVarChar;
   DECLARE vbBayerPhone TVarChar;
   DECLARE vbInvNumberOrder TVarChar;
   DECLARE vbManagerName TVarChar;
BEGIN
    -- проверка прав пользователя на вызов процедуры
    vbUserId := lpGetUserBySession (inSession);

    IF COALESCE(inMovementId,0) = 0
    THEN
        RAISE EXCEPTION 'Документ не записан.';
    END IF;

    SELECT Movement.StatusId
         , Movement.OperDate
         , MovementLinkObject_Unit.ObjectId
         , MovementFloat_MovementItemId.ValueData :: Integer
         , MIString_GUID.ValueData
         , MovementString_Bayer.ValueData                     AS Bayer
         , MovementString_BayerPhone.ValueData                AS BayerPhone
         , MovementString_InvNumberOrder.ValueData            AS InvNumberOrder
         , Object_CheckMember.ValueData
    INTO vbStatusId
       , vbDate
       , vbUnitId
       , vbPromoCodeID
       , vbPromoCodeGUID
       , vbBayer
       , vbBayerPhone
       , vbInvNumberOrder
       , vbManagerName
    FROM Movement
         LEFT JOIN MovementLinkObject AS MovementLinkObject_Unit
                                      ON MovementLinkObject_Unit.MovementId = Movement.Id
                                     AND MovementLinkObject_Unit.DescId = zc_MovementLinkObject_Unit()
         LEFT JOIN MovementString AS MovementString_InvNumberOrder
                                  ON MovementString_InvNumberOrder.MovementId = Movement.Id
                                 AND MovementString_InvNumberOrder.DescId = zc_MovementString_InvNumberOrder()
	     LEFT JOIN MovementString AS MovementString_Bayer
                                  ON MovementString_Bayer.MovementId = Movement.Id
                                 AND MovementString_Bayer.DescId = zc_MovementString_Bayer()
         LEFT JOIN MovementString AS MovementString_BayerPhone
                                  ON MovementString_BayerPhone.MovementId = Movement.Id
                                 AND MovementString_BayerPhone.DescId = zc_MovementString_BayerPhone()

         -- инфа из документа промо код
         LEFT JOIN MovementFloat AS MovementFloat_MovementItemId
                                 ON MovementFloat_MovementItemId.MovementId = Movement.Id
                                AND MovementFloat_MovementItemId.DescId     = zc_MovementFloat_MovementItemId()
         LEFT JOIN MovementItem AS MI_PromoCode
                                ON MI_PromoCode.Id       = MovementFloat_MovementItemId.ValueData :: Integer
                               AND MI_PromoCode.isErased = FALSE
         LEFT JOIN Movement AS Movement_PromoCode ON Movement_PromoCode.Id = MI_PromoCode.MovementId
         LEFT JOIN Object AS Object_Status_PromoCode ON Object_Status_PromoCode.Id = Movement_PromoCode.StatusId

         LEFT JOIN MovementItemString AS MIString_GUID
                                      ON MIString_GUID.MovementItemId = MI_PromoCode.Id
                                     AND MIString_GUID.DescId = zc_MIString_GUID()

         LEFT JOIN MovementLinkObject AS MovementLinkObject_CheckMember
                                      ON MovementLinkObject_CheckMember.MovementId = Movement.Id
                                     AND MovementLinkObject_CheckMember.DescId = zc_MovementLinkObject_CheckMember()
         LEFT JOIN Object AS Object_CheckMember ON Object_CheckMember.Id = MovementLinkObject_CheckMember.ObjectId


    WHERE Movement.Id = inMovementId;

    IF vbStatusId <> zc_Enum_Status_UnComplete()
    THEN
        RAISE EXCEPTION 'Ошибка.Разбить чек в статусе <%> не возможно.', lfGet_Object_ValueData (vbStatusId);
    END IF;

    CREATE TEMP TABLE _tmpSmash ON COMMIT DROP AS (
      WITH
        tmpMI AS (SELECT MI_Master.ObjectId
                       , SUM(MI_Master.Amount) AS Amount

                  FROM MovementItem AS MI_Master
                  WHERE MI_Master.MovementId = inMovementId
                    AND MI_Master.DescId = zc_MI_Master()
                    AND MI_Master.isErased = FALSE
                    AND MI_Master.Amount > 0
                  GROUP BY MI_Master.ObjectId
                  )
      , tmpContainer AS (SELECT tmpMI.ObjectId
                              , tmpMI.Amount
                              , SUM(Container.Amount) AS Remains
                     FROM tmpMI

                          LEFT JOIN Container ON Container.WhereObjectId = vbUnitId
                                             AND Container.ObjectId = tmpMI.ObjectId
                                             AND Container.DescId = zc_Container_Count()
                                             AND Container.Amount > 0
                     GROUP BY tmpMI.ObjectId, tmpMI.Amount
                     )

      SELECT tmpContainer.ObjectId
           , tmpContainer.Amount::TFloat                                                 AS AmountCheck
           , CASE WHEN tmpContainer.Amount <= COALESCE(tmpContainer.Remains, 0)
                  THEN tmpContainer.Amount
                  ELSE COALESCE(tmpContainer.Remains, 0) END::TFloat                     AS Remains
           , CASE WHEN tmpContainer.Amount > COALESCE(tmpContainer.Remains, 0)
                  THEN tmpContainer.Amount - COALESCE(tmpContainer.Remains, 0)
                  ELSE 0 END::TFloat                                                     AS AmountSmash
     FROM tmpContainer);

   IF NOT EXISTS(SELECT 1 FROM _tmpSmash WHERE _tmpSmash.Remains > 0)
   THEN
      RAISE EXCEPTION 'Ошибка. Для разбиения документа товара в наличии нет.';
   END IF;

   IF NOT EXISTS(SELECT 1 FROM _tmpSmash WHERE _tmpSmash.AmountSmash > 0)
   THEN
      RAISE EXCEPTION 'Ошибка. По документу весь товар есть в наличии.';
   END IF;

   vbMovementID := 0;

   OPEN curMI FOR
       SELECT MI_Master.Id
            , MI_Master.ObjectId
            , MI_Master.Amount
            , MIFloat_Price.ValueData             AS Price
            , MIFloat_PriceSale.ValueData         AS PriceSale
            , MIFloat_ChangePercent.ValueData     AS ChangePercent
       FROM MovementItem AS MI_Master
            LEFT JOIN MovementItemFloat AS MIFloat_Price
                                        ON MIFloat_Price.MovementItemId = MI_Master.Id
                                       AND MIFloat_Price.DescId = zc_MIFloat_Price()
            LEFT JOIN MovementItemFloat AS MIFloat_PriceSale
                                        ON MIFloat_PriceSale.MovementItemId = MI_Master.Id
                                       AND MIFloat_PriceSale.DescId = zc_MIFloat_PriceSale()
            LEFT JOIN MovementItemFloat AS MIFloat_ChangePercent
                                        ON MIFloat_ChangePercent.MovementItemId = MI_Master.Id
                                       AND MIFloat_ChangePercent.DescId = zc_MIFloat_ChangePercent()
       WHERE MI_Master.MovementId = inMovementId
         AND MI_Master.DescId = zc_MI_Master()
         AND MI_Master.isErased = FALSE
         AND MI_Master.Amount > 0
       ORDER BY MI_Master.Id DESC;

   LOOP FETCH curMI Into vbID, vbGoodsID, vbAmount, vbPrice, vbPriceSale, vbChangePercent;
     IF NOT FOUND THEN EXIT; END IF;

     SELECT _tmpSmash.AmountSmash
     INTO vbAmountSmash
     FROM _tmpSmash WHERE _tmpSmash.ObjectId = vbGoodsID;

     IF COALESCE(vbAmountSmash, 0) > 0
     THEN

       IF vbMovementID = 0
       THEN
          IF length(vbPromoCodeGUID) = 8
          THEN
             vbMovementID := gpInsertUpdate_Movement_CheckPromoCode_Site (ioId := 0,
                                                                          inUnitId := vbUnitId,
                                                                          inDate := vbDate,
                                                                          inBayer := vbBayer,
                                                                          inBayerPhone:= vbBayerPhone,
                                                                          inInvNumberOrder:= vbInvNumberOrder,
                                                                          inManagerName:= vbManagerName,
                                                                          inGUID := vbPromoCodeGUID,
                                                                          inSession := inSession);
          ELSEIF COALESCE (vbPromoCodeID, 0) <> 0
          THEN
             vbMovementID := gpInsertUpdate_Movement_CheckPromoCodeLoyalty_Site (ioId := 0,
                                                                                 inUnitId := vbUnitId,
                                                                                 inDate := vbDate,
                                                                                 inBayer := vbBayer,
                                                                                 inBayerPhone:= vbBayerPhone,
                                                                                 inInvNumberOrder:= vbInvNumberOrder,
                                                                                 inManagerName:= vbManagerName,
                                                                                 inPromoCodeId := vbPromoCodeID,
                                                                                 inSession := inSession);
          ELSE
             vbMovementID := gpInsertUpdate_Movement_Check_Site (ioId := 0,
                                                                 inUnitId := vbUnitId,
                                                                 inDate := vbDate,
                                                                 inBayer := vbBayer,
                                                                 inBayerPhone:= vbBayerPhone,
                                                                 inInvNumberOrder:= vbInvNumberOrder,
                                                                 inManagerName:= vbManagerName,
                                                                 inSession := inSession);
          END IF;

          IF vbMovementID = 0
          THEN
             RAISE EXCEPTION 'Ошибка. Не удалось создать документ новый документ.';
          END IF;
       END IF;

       IF (vbPrice <> vbPriceSale) OR COALESCE(vbChangePercent, 0) <> 0
       THEN
          PERFORM gpInsertUpdate_MovementItem_CheckPromoCode_Site (ioId:= 0
                                                                 , inMovementId:= vbMovementID
                                                                 , inGoodsId:= vbGoodsID
                                                                 , inAmount:= CASE WHEN vbAmount > vbAmountSmash THEN vbAmountSmash ELSE vbAmount END
                                                                 , inPrice:= vbPrice
                                                                 , inPriceSale := vbPriceSale
                                                                 , inChangePercent := vbChangePercent
                                                                 , inSession := inSession);
          PERFORM gpInsertUpdate_MovementItem_CheckPromoCode_Site (ioId:= vbID
                                                                 , inMovementId:= inMovementID
                                                                 , inGoodsId:= vbGoodsID
                                                                 , inAmount:= CASE WHEN vbAmount > vbAmountSmash THEN vbAmount - vbAmountSmash ELSE 0 END
                                                                 , inPrice:= vbPrice
                                                                 , inPriceSale := vbPriceSale
                                                                 , inChangePercent := vbChangePercent
                                                                 , inSession := inSession);
       ELSE
          PERFORM gpInsertUpdate_MovementItem_Check_Site (ioId:= 0
                                                        , inMovementId:= vbMovementID
                                                        , inGoodsId:= vbGoodsID
                                                        , inAmount:= CASE WHEN vbAmount > vbAmountSmash THEN vbAmountSmash ELSE vbAmount END
                                                        , inPrice:= vbPrice
                                                        , inSession := inSession);
          PERFORM gpInsertUpdate_MovementItem_Check_Site (ioId:= vbID
                                                        , inMovementId:= inMovementID
                                                        , inGoodsId:= vbGoodsID
                                                        , inAmount:= CASE WHEN vbAmount > vbAmountSmash THEN vbAmount - vbAmountSmash ELSE 0 END
                                                        , inPrice:= vbPrice
                                                        , inSession := inSession);
       END IF;

       UPDATE _tmpSmash SET AmountSmash = AmountSmash - CASE WHEN vbAmount > AmountSmash THEN AmountSmash ELSE vbAmount END
       WHERE _tmpSmash.ObjectId = vbGoodsID;
     END IF;


   END LOOP;

   IF EXISTS(SELECT 1 FROM _tmpSmash WHERE _tmpSmash.AmountSmash > 0)
   THEN
      RAISE EXCEPTION 'Ошибка. Документу не получилось разбить. Обратитесь к системному администратору.';
   END IF;

END;
$BODY$
  LANGUAGE PLPGSQL VOLATILE;

/*
 ИСТОРИЯ РАЗРАБОТКИ: ДАТА, АВТОР
               Фелонюк И.В.   Кухтин И.В.   Климентьев К.И. Шаблий О.В.
 25.11.19                                                     *
*/
-- тест
-- select * from gpUpdate_Movement_SmashСheck(inMovementId := 7784619 , inSession := '3');